version: 2.1
orbs:
  python: circleci/python@3.2.0
jobs:
  test:
    executor:
      name: python/default
      tag: "3.10"
    steps:
      - run:
          name: Install qasync -> QtGui dependencies
          command: sudo apt-get update && sudo apt-get install -y libegl1 libxkbcommon0
      - checkout
      - python/install-packages:
          pkg-manager: uv
      - run:
          name: Run unit tests
          command: uv run poe test
      - run:
          name: Verify that Ruff lint passes
          command: uv run poe lint
      - run:
          name: Check that Ruff doesn't change formatting
          command: uv run poe fmt-test
  docs-build:
    executor:
      name: python/default
      tag: "3.10"
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: uv
      - run:
          name: Build documentation
          command: cd docs && uv run make html
      - persist_to_workspace:
          root: docs/_build
          paths: html
  docs-deploy:
    docker:
      - image: node:8.10.0
    steps:
      - checkout
      - attach_workspace:
          at: docs/_build
      - run:
          name: Disable jekyll builds
          command: touch docs/_build/html/.nojekyll
      - run:
          name: Install and configure dependencies
          command: |
            npm install -g --silent gh-pages@2.0.1
            git config --global user.email "david.nadlinger@physics.ox.ac.uk"
            git config --global user.name "CircleCI builder"
      - add_ssh_keys:
          fingerprints:
            - "f4:33:74:aa:c3:35:f4:49:34:00:01:32:f2:0c:7f:33"
      - run:
          name: Deploy docs to gh-pages branch
          command: gh-pages --dotfiles --message "[skip ci] Update docs" --dist docs/_build/html
workflows:
  build:
    jobs:
      - test
      - docs-build
      - docs-deploy:
          requires:
            - test
            - docs-build
          filters:
            branches:
              only: master
